@import url('href="https://egkoppel.github.io/product-sans/google-fonts.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Product Sans', sans-serif;
}












.header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 16vh;
    line-height: 1vh;
    top: 0px;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    position: fixed;
    box-shadow: 0 0.5vh 2vh gray;
}


.logo{
    height: 10vh;
    width: auto;
    position: absolute;
    left: 3vh;
    top: 3vh;
}

.inf{
    width: 6vh;
    height:auto;
    right: 5vh;
    top: 5vh;
    position: absolute;
    vertical-align: center;
    opacity: 1;
    transition: 0.3s;
}

.inf:hover {
    opacity: 0.7;
}

#title{
    color: #40444B;
    font-size: 7vh;
    left: 23vh;
    position: absolute;
    vertical-align: middle;
}

html,body{
    height: 100%;
    place-items: center;
}

.wrapper{
    top: 21vh;
    width: 85%;
    height: 74%;
    position: absolute;
    background: white;
    border-radius: 2.2vw;
    border: 1vh solid rgb(60 152 134);
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

.wrapper .form{
    padding: 2.5vh 1vh;
    min-height: 90%;
    max-height: 90%;
    overflow-y: auto;
}

.wrapper .form .inbox{
    width: 100%;
    display: flex;
    align-items: baseline;
}

.wrapper .form .user-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}

.wrapper .form .inbox .msg-header{
    max-width: 53%;
    margin-left: 2vh;
}

.form .inbox .msg-header p{
    color: #fff;
    background: rgb(18 90 133);
    border-radius: 2vh;
    padding: 8px 10px;
    font-size: 20px;
    word-break: break-word;
}

.form .user-inbox .msg-header p{
    color: rgb(255, 255, 255);
    background: #009380;
}

.wrapper .typing-field{
    display: flex;
    height: 7vh;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.wrapper .typing-field .input-data{
    height: 0;
    width: 0;
}

.wrapper .typing-field .input-data #data{
    height: 48px;
    width: 83vw;
    outline: none;
    position: fixed;
    left: 8.5vw;
    bottom: 7vh;
    border: 1px solid rgb(179 175 175);
    padding: 0 80px 0 15px;
    border-radius: 17px;
    font-size: 20px;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.typing-field .input-data #data:focus{
    border-color: #009380;
}

.input-data #data::placeholder{
    color: #868686;
    transition: all 0.3s ease;
}

.input-data #data:focus::placeholder{
    color: #bfbfbf;
}

.wrapper .typing-field .input-data #send-btn{
    right: 8.5vw;
    bottom: 7vh;
    height: 48px;
    position: fixed;
    width: 8vw;
    color: rgb(255, 255, 255);
    background: rgb(18 90 133);
    font-size: 3vh;
    cursor: pointer;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 17px;
    border: 1px solid rgb(18 90 133);
    transition: all 0.3s ease;
}

.wrapper .typing-field .input-data #data:valid ~ #send-btn{
    opacity: 1;
    pointer-events: auto;
}
.typing-field .input-data #send-btn:hover{
    background: #498db8;
}

/* --------------------- parte de jade ---------------------- */ 

#modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255, .5);
}


@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -300px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

#modal:target{
    display:grid;
    animation: modal .5s;
}

.infos{
    width: 90vw;
    height: 90vh;
    margin-left: 1vw;
    font-size: 2.7vh;
    border-radius: 50px;
    border: 5px solid #009380;
    background-color: white;
}

#titulo1{
    width: 85vw;
    height: 7vh;
    margin-top: 2vh;
    margin-left: 2vw;
}

#conteudo{
    width: 85vw;
    height: 60vh;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: 'Product Sans', sans-serif;
    font-size: 3.5vh;
    justify-content: center;
    line-height: 5vh;
    text-indent: 2vw;
}

.feedback{
    display: flex;
}

.feedback .input{
    width: 76vw;
    height: 7vh;
    margin-top: 3vh;
    margin-left: 0vw;
    text-indent: 1vw;
    color:#534949;
    font-size: 3vh;
    border-radius: 17px;
    border: 1px solid #868686;
    outline: none;
}

.feedback .input:hover{
    pointer-events: auto;

}
.feedback .input:focus{
    border-color: #009380;
}
.feedback .input:focus::placeholder{
    color: #bfbfbf;
}

.feedback #butt{
    width: 6.5vw;
    height: 7vh;
    color: rgb(255, 255, 255);
    background: rgb(18 90 133);
    font-size: 3vh;
    cursor: pointer;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 17px;
    border: 1px solid rgb(18 90 133);
    transition: all 0.3s ease;
}

.feedback .input:valid ~ #butt{
    opacity: 1;
    pointer-events: auto;
}
.feedback .input #butt:hover{
    background: #498db8;
}


#rodape{
    width: 85vw;
    height: 15vh;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: 'Product Sans', sans-serif;
    color: #868686;
    font-style: italic;
    font-size:medium;
}

#rod1{
    display: flex;
}

#if-link{
    margin-left: 30vw;
}

.cor-titulo{
    color: #0F547F;
}

#imgif{
    margin-top: 1.5vh;
    width: 11vw;
    height: 9vh;
}
    
.close{
    color:#0F547F;
    border: none;
    float: right;
    font-size: 5vh;
    font-weight: bold;
    background-color: white;
}

.close:hover{
    opacity: 0.7;
    cursor: pointer;
}

    
.close:target{
    display: grid;
}




@media (max-width: 800px) {
    
    

    .header{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 13vh;
        line-height: 1vh;
        top: 0px;
        border-bottom-right-radius: 1.5vh;
        border-bottom-left-radius: 1.5vh;
        position: fixed;
        box-shadow: 0 0.5vh 2vh gray;
    }

    .logo{
        height: min(8vh, 17vw);
        width: auto;
        position: absolute;
        left: 2.5vh;
        top: 2.5vh;
    }
    
    .inf{
        width: 6vh;
        height:auto;
        right: 2vh;
        top: 3.5vh;
        position: absolute;
        vertical-align: center;
        opacity: 1;
        transition: 0.3s;
    }
    
    .inf:hover {
        opacity: 0.7;
    }
    
    #title{
        color: #40444B;
        font-size: min(7vh, 10vw);
        left: 17vh;
        position: absolute;
        vertical-align: middle;
    }
    .wrapper{
        top: 19vh;
        width: 100%;
        height: 74%;
        position: absolute;
        background: rgb(255, 255, 255);
        border-radius: 2.2vw;
        border: 0vh solid rgb(60 152 134);
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
    }

}

