@import url('href="https://egkoppel.github.io/product-sans/google-fonts.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Product Sans', sans-serif;
}

.header{
    background-color: rgb(170, 170, 170);
    width: 100%;
    height: 16%;
    top: 0px;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    position: fixed;
}

.logo{
    height: 10vh;
    width: auto;
    position: absolute;
    left: 3vh;
    top: 3vh;
}

.inf{
    width:2vw;
    height:auto;
}

#title{
    color: #313131;
    
}

html,body{
    height: 100%;
    place-items: center;
}

.wrapper{
    margin-top: 10%;
    width: 80%;
    background: white;
    border-radius: 3vw;
    border: 1vh solid rgb(60 152 134);
    position: fixed;
}

.wrapper .form{
    padding: 20px 15px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

.wrapper .form .inbox{
    width: 100%;
    display: flex;
    align-items: baseline;
}

.wrapper .form .user-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}

.wrapper .form .inbox .msg-header{
    max-width: 53%;
    margin-left: 10px;
}

.form .inbox .msg-header p{
    color: #fff;
    background: rgb(18 90 133);
    border-radius: 12px;
    padding: 8px 10px;
    font-size: 14px;
    word-break: break-all;
}

.form .user-inbox .msg-header p{
    color: #333;
    background: #efefef;
}

.wrapper .typing-field{
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 0 5px 5px;
}

.wrapper .typing-field .input-data{
    height: 45px;
    width: 400px;
    position: relative;
}

.wrapper .typing-field .input-data #data{
    height: 40px;
    width: 400px;
    outline: none;
    border: 1px solid rgb(179 175 175);
    padding: 0 80px 0 15px;
    border-radius: 14px;
    font-size: 15px;
    background: #fff;
    transition: all 0.3s ease;
}

.typing-field .input-data #data:focus{
    border-color: rgba(0,123,255,0.8);
}

.input-data #data::placeholder{
    color: #999999;
    transition: all 0.3s ease;
}

.input-data #data:focus::placeholder{
    color: #bfbfbf;
}

.wrapper .typing-field .input-data #send-btn{
    position: absolute;
    right: 5px;
    top: 46%;
    height: 30px;
    width: 65px;
    color: #fff;
    background: rgb(18 90 133);
    font-size: 16px;
    cursor: pointer;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 8px;
    border: 1px solid rgb(18 90 133);
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.wrapper .typing-field .input-data #data:valid ~ #send-btn{
    opacity: 1;
    pointer-events: auto;
}
.typing-field .input-data #send-btn:hover{
    background: #006fef;
}